* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: Poppins;
    font-size: 1.6rem;
}

/* COMMON */
a {
    text-decoration: none;
}

.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.btn {
    min-width: 186px;
    display: inline-block;
    background: #1ebfc1;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.05);
    border-radius: 14px;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 68px;
    text-align: center;
    color: #ffffff;
}

.btn:hover {
    opacity: 0.8;
}

.play-btn {
    height: 62px;
    width: 62px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: #ffffff;
    box-shadow: 0px 22px 50px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-clamp.line-2 {
    --line-clamp: 2;
}

.line-clamp.line-3 {
    --line-clamp: 3;
}

.row {
    display: flex;
    align-items: center;
}

.row.space-between {
    justify-content: space-between;
}

.heading.lv1 {
    font-weight: 700;
    font-size: 62px;
    line-height: var(--line-height, 0);
    color: #0d1111;
}

.heading.lv2 {
    font-weight: 700;
    font-size: 42px;
    line-height: var(--line-height, 0);
    color: #0d1111;
}

.desc.afterhd {
    font-weight: 400;
    font-size: 18px;
    line-height: var(--line-height, 0);
    color: #767e7e;
}

/* HEADER */
.fixed {
    position: sticky;
    padding: 52px 0 8px;
    top: -44px;
    z-index: 1;
    background: #ffffff;
}

.header .img-block,
.header .nav .list,
.header .body {
    display: flex;
    align-items: center;
}

.header .img-block {
    gap: 6px;
}

.nav {
    margin-left: auto;
}

.nav .list a {
    padding: 8px 20px;
    font-size: 1.6rem;
    color: #2f3a3b;
}

.nav .list a:hover {
    text-shadow: 1px 0 0 currentColor;
    color: #2f3a3b;
}

.header .actions {
    margin-left: 177px;
}

.header .actions .linker {
    font-size: 1.6rem;
    line-height: 24px;
    color: #494949;
}

.header .actions .btn-actions {
    margin-left: 24px;
    display: inline-block;
    min-width: 108px;
    border: 1px solid #1ebfc1;
    border-radius: 6px;
    line-height: 48px;
    font-weight: 600;
    font-size: 1.6rem;
    text-align: center;
    color: #1ebfc1;
}

/* HERO */
.hero {
    padding: 42px 0 79px;
}

.hero .body {
    display: flex;
    align-items: center;
}

.hero .img-block,
.hero .info {
    width: 50%;
}

.hero .info .sub-title {
    font-size: 1.4rem;
    line-height: 21px;
    color: #767e7e;
}

.hero .info .heading {
    max-width: 458px;
    margin-top: 18px;
}
.hero .info .desc {
    max-width: 374px;
    margin-top: 46px;
}

.hero .buttons {
    margin-top: 52px;
    display: flex;
    align-items: center;
    gap: 50px;
}

.hero .img-block {
    position: relative;
}

.hero .img-block .hero-bg {
    width: 576px;
    height: 631px;
    object-fit: cover;
}
/* CARD COURSE */
.hero .card-course {
    display: flex;
    align-items: center;
    padding: 18px 25px;
    position: absolute;
    left: -40px;
    top: 150px;
    /* width: 157px; */
    height: 75px;
    background: #fefefd;
    box-shadow: 0px 10px 80px rgba(0, 0, 0, 0.05);
    border-radius: 18px;
}

.hero .card-course .book {
    position: relative;
    width: 36px;
    height: 40px;
    border-radius: 4px;
    background: #ff8282;
}

.hero .card-course .book-cross {
    position: absolute;
    bottom: 8px;
    left: 4px;
    width: 28px;
    height: 4px;
    background: #ffffff;
    border-radius: 4px;
}

.hero .card-course .label {
    margin-left: 16px;
    max-width: 55px;
    font-weight: 500;
    font-size: 1rem;
    line-height: 15px;
    color: #0d1111;
}
/* CARD STUDENTS */
.hero .card-students {
    bottom: 41px;
    right: 45px;
    position: absolute;
    padding: 17px 35px;
    width: 207px;
    /* height: 90px; */
    background: #fefefd;
    box-shadow: 0px 12px 80px rgba(0, 0, 0, 0.05);
    border-radius: 24px;
}

.hero .card-students .title {
    font-weight: 500;
    font-size: 1rem;
    color: #0d1111;
}

.hero .avatar-block {
    margin-top: 8px;
    display: flex;
}

.hero .card-students .avatar {
    width: 33px;
    height: 33px;
    border-radius: 50%;
    object-fit: cover;
}

.hero .card-students .avatar + .avatar {
    margin-left: -7px;
}

/* CARD SCHEDULES */
.hero .card-schedules {
    position: absolute;
    left: -65px;
    bottom: 46px;
    text-align: center;
    padding: 16px 25px;
    width: 124px;
    height: 132px;
    background: #ffffff;
    box-shadow: 0px 10px 80px rgba(0, 0, 0, 0.05);
    border-radius: 24px;
}

.hero .card-schedules .title {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 1rem;
    line-height: 15px;
    color: #0d1111;
}

.hero .card-schedules .bars-box {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.hero .card-schedules .bars {
    width: 74px;
    height: 6px;
    background: #edf1f5;
    border-radius: 3px;
}

.hero .card-schedules .bars .percentage {
    height: 6px;
    width: var(--percentage, 0);
    background: #fb9899;
    border-radius: 3px;
}

.hero .card-schedules .short-bar {
    margin-top: 16px;
    display: inline-block;
    width: 26px;
    height: 6px;
    background: #edf1f5;
    border-radius: 3px;
}
/* FEATURE */
.feature {
    margin-top: 130px;
}

.feature .info {
    max-width: 50%;
}

.feature .info .sub-title {
    font-weight: 700;
    font-size: 1.2rem;
    letter-spacing: 1.2rem;
    color: #767e7e;
}

.feature .info .heading {
    margin-top: 18px;
}

.feature .info .desc {
    margin-top: 18px;
}

.feature .list {
    max-width: 87%;
    margin-top: 80px;
    display: flex;
    align-items: center;
    gap: 205px;
}

.feature .list .rectangle {
    width: 102px;
    height: 106px;
    background: var(--bgcolor, orange);
    border-radius: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.feature .list .title {
    margin-top: 26px;
    font-weight: 600;
    font-size: 2rem;
    color: #0d1111;
}

.feature .list .desc {
    margin-top: 16px;
    font-size: 1.6rem;
    line-height: 1.7;
    color: #9da6a5;
}
/* COURSE */
.courses {
    margin-top: 130px;
}

.courses .sub-title {
    font-weight: 700;
    font-size: 1.2rem;
    letter-spacing: 1.2rem;
    color: #767e7e;
}

.courses .heading {
    margin-top: 18px;
}

.courses .row {
    margin-top: 19px;
}

.courses .row .desc {
    max-width: 45%;
}

.courses .row .linker {
    text-decoration: underline;
    font-weight: 700;
    font-size: 14px;
    color: #1ebfc1;
}

.courses .body {
    margin-top: 80px;
}

.courses .list {
    display: flex;
    align-items: center;
    gap: 47px;
}

.courses .body .item {
    position: relative;
}

.courses .body .thumb {
    height: 393px;
    width: 360px;
    object-fit: cover;
    opacity: 0.35;
    border-radius: 8px;
}

.courses .body .thumb:hover {
    opacity: 1;
}

.courses .body .info-block {
    position: absolute;
    left: 17px;
    right: 17px;
    bottom: -70px;
    padding: 18px 25px;
    width: 325px;
    background: #fff;
    box-shadow: 0px 16px 90px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}

.courses .body .info-block .title {
    font-weight: 700;
    font-size: 2.2rem;
    color: #0d1111;
}

.courses .body .info-block .fee {
    margin-top: 16px;
    font-size: 1.6rem;
}

.courses .body .info-block .price {
    font-weight: 700;
    font-size: 2.2rem;
}

.courses .body .info-block .desc {
    margin-top: 8px;
    font-size: 1.4rem;
    color: #9da6a5;
}

.courses .body .info-block .row {
    margin-top: 18px;
    gap: 10px;
}

.courses .body .info-block .qty {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    color: #9da6a5;
}

.courses .body .info-block .qty::before {
    margin-right: 10px;
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #1ebfc1;
}
/* STATS */
.stats {
    margin-top: 265px;
}

.stats .main-content {
    width: 862px;
}

.stats .item {
    text-align: center;
}

.stats .item .number {
    font-weight: 700;
    font-size: 6.2rem;
    line-height: 1.5;
    text-align: center;
    color: #0d1111;
}

.stats .item .desc {
    margin-top: 11px;
}

/* COMMENTS */
.comments {
    margin-top: 264px;
}

.comments .info {
    max-width: 36%;
}

.comments blockquote {
    margin-top: 27px;
    font-size: 3.2rem;
    line-height: 1.5;
    color: #5d6564;
}

.comments .name-block {
    margin-top: 33px;
}

.comments .name-block .name {
    font-weight: 500;
    font-size: 1.6rem;
    color: #070707;
}

.comments .row {
    margin-top: 52px;
    gap: 30px;
}

.comments .;
